/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron{
	text-align: center;
	color: white;
	background: url(http://akapribot.appspot.com/aks/img/pics/bg-collage.jpg);
	background-attachment: fixed;
}
.jumbotron p{
	font-family: 'Oswald', sans-serif;
	margin-bottom: 50px;
}
.jumbotron h1{
	margin-bottom: 50px;
}

#explore-more{
	background-color: #f5f5f5;
}

.explore{
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}
#top h1{
	font-size: 100px;
	font-weight: bold;
}
#top{
	font-family: 'Amaranth', sans-serif;
	font-size: 9em;
}
#top h3{
	padding-bottom: 50px;
}
.navbar-header{
	background: url(SaiTejaReddy.jpg) no-repeat left center;
	padding-left: 0px;
}

.explore h1
{
	color: #e74c3c;
	font-family: 'Oswald', sans-serif;
	text-align:center;
}
.explore p {
	font-size: 21px;
}
.explore a{
	color: #ffffff;
}
.explore hr{
	border-top:1px solid #e74c3c;
	width: 160px;
	margin-top: 20px;
	border-top: 1px solid;
}
.img-circle{
	border-radius: 45%;
}
footer
{
	text-align: center;
	background-image: url(http://akapribot.appspot.com/aks/img/pics/bg-collage.jpg);
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	background-attachment: fixed;
}
/*Responsive Styling*/
@media (max-width: 991px){
	.jumbotron h1{
		font-size: 56px;
		margin-top: 30px;
	}
}
@media (max-width: 991px){
	.jumbotron h1{
		font-size: 44px;
		
	}
	.jumbotron p{
		padding: 0 10px;
	}
	#about-me .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;

	}
}
@media (max-width: 767px){
	.jumbotron h1{
		font-size: 24px;
	}
	.jumbotron p{
		font-size: 16px;
		padding: 0;
	}
	.btn-lg{
		font-size: 18px;
	}
	.homepage p{
		font-size: 18px;
	}
}